.my-card { 
    box-shadow: 2px 2px 4px rgb(65, 63, 63); 
    margin-bottom: 3rem;

} 

.my-card-img-top{ 
    height: 20rem;
    object-fit: contain;
} 

header{ 
    background-color:	#303030;
    padding: 1%;
} 

h2 { 
    color: white;
}  

.product-detail { 
    box-shadow: 2px 2px 4px rgb(65, 63, 63); 
    padding: 1rem;
    margin-top: 1rem;
}

.click-1:hover { 
    font-weight: bold;
} 
.items{ 
    display: inline;
    color: white;
    padding-top: 2%;
    padding-left: 67%;
    font-size: 4vh;
} 

.card-text{ 
    padding: 1vh;
} 
.img-cart { 
    width: 250px;
}

.product-info { 
    align-items: flex-start;
}

.footer{ 
    font-weight: bold;
    font-size: 150%;
}