.my-card { 
    box-shadow: 2px 2px 4px rgb(65, 63, 63); 
    margin-bottom: 3rem;
    transition: transform .2s;
    cursor: pointer;
} 
body { 
    overflow-x: hidden;
}

.card { 
    width: 20rem;
}
.my-card:hover { 
    transform: scale(1.03);
}

.header{ 
    background-color: #00BFFF;
} 
/* Logo css */
.logo{ 
    width: 90px;
}
/* logo hover */
.logo:hover { 
    transform: scale(.9);
}

/* parallax image */
.parallax { 
    background: url('./images/fetch.jpg');
    height: 700px;
    width: 1050px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.my-card-img-top{ 
    height: 20rem;
    object-fit: contain;
} 

header{ 
    background-color:	#303030;
    padding: 1%;
} 

h2 { 
    color: white;
}  

.product-detail { 
    box-shadow: 2px 2px 4px rgb(65, 63, 63); 
    padding: 1rem;
    margin-top: 1rem;
}

.click-1:hover { 
    font-weight: bold;
} 
.items{ 
    display: inline;
    color: white;
    font-size: 4vh;
} 

.card-text{ 
    padding: 1vh;
} 
.img-cart { 
    width: 250px;
}

.product-info { 
    align-items: flex-start;
}

.item-total{ 
    font-weight: bold;
    font-size: 150%;
}
.checkout { 
    margin-left: 1rem;
} 

.place-order { 
    margin-left: 21rem;
}

.disclaimer { 
    padding: .5rem;
    color: red;
} 
.image-div { 
    width: auto;
    height: 550px;
    align-items: center;
    justify-content: center;
} 

.pointer {cursor: pointer;}


/* The media queries below will automatically adjust the set width of the
container class depending on the size of the current browser window. Notice
how the containers get smaller as the size of the screen gets smaller. Without
media queries, building responsive designs is almost impossible, as it is important
for the content of the website to adapt to the screen it is displayed on. */

@media only screen and (max-width: 768px) {
    .container {
        max-width: 575px;
    } 
    .image-div { 
        width: auto; 
        height: auto;
    } 
    .parallax { 
        width: auto; 
        height: auto;
    }
}

.header-row { 
    display: flex;
display: -webkit-flex;
justify-content: center;
-webkit-justify-content: center;
align-items: center;
-webkit-align-items: center;
}